.HR_Deduction{
    width:500px;
    height: auto;
    padding: 0px 35px 35px 35px;
    border-radius: 40px;
    background: #ecf0f3;
    /* box-shadow: 13px 13px 20px #cbced1,
              -13px -13px 20px #FFFFFF; */
}
.Deduction_field1 {
    width:100%;
    overflow: hidden;
    padding: 19px 5px 5px 5px;
    background: none;
    border:none;
}
.search{
    width: 36%;
    height: 3rem;
    overflow: hidden;
    background: none;
    border-radius: 25px;
    /* margin-left: 17.70rem; */
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
   
   
}
.svg-icon14{
    width: 1.2rem;
    height: 1.2rem;
    margin-top:0.9rem;
    margin-left:0px;
  }
  .svg.svg-icon14{
    height: 20px;
    float: right;
   
  }
  .svg-icon14 path,
  .svg-icon14 polygon,
  .svg-icon14 rect {
    fill: black;
  }
  .svg-icon14 circle {
    stroke: rgb(206, 202, 202);
    stroke-width: 2px;
  }
  /* .svg-icon14:hover {
    background:#0879d6;
  }
  .svg-icon14:active{
    background:#1da88a;
  } */

.code_fields77{
    border: none;
    width: 70%;
    float:left;
    margin-top: 1rem;
    outline:none;
    background: none;
    overflow: hidden;
    color: #555;
    padding:-12px 0px 20px 13px;
}
.DED1-dropdown{
    text-align: center;
    position: relative;
    width: 47%;
    height: 3rem;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    /* float: left; */
}
.DED1-dropdown:active{
    background:  #ecf0f3;
    box-shadow: inset 7px 7px 14px #cccdd1,
                inset -7px -7px 14px #ffffff;
    }
.DED1-dropdown Select{
    position: absolute;
    transform: translate(-50%,-15%);
    z-index: 1;
    border: none;
    outline: none;
    background: none;
    color: #37373d;
    font-size: 14px;
    cursor: pointer;
}
.DED1-dropdown select:focus{
    outline: none;
    border: none;
}

.DED1-select-style{
    padding: 0;
    /* margin-top: 3rem; */
    margin-left: 0rem;
    /* margin-left: 1.1rem; */
    align-content: center;
    text-align: center;
    width: 100px;
    border-radius: 33px;
    color:#555;
    background:  #ecf0f3;
    background-color:   #ecf0f3;
    position: relative;

}

   
.DED1-select-style select{
    width: 180%;
    height: 2rem;
    margin-top:0.9rem;
    -webkit-appearance:none;
    appearance: none;
    font-size: 14px;
    margin-left: 3.49rem;
}
.DED1-select-style:after{
margin-top: -12px;
left: 90%;
border: solid transparent;
content: " ";
height: 0;
/* width: 10px; */
position: absolute;
pointer-events: none;
border-color: rgba(0, 0, 0, 0);
border-top-color: #000000;
border-width: 5px;
margin-top: 1.4rem;
margin-left: 4rem;
z-index: 100;
}
.DED1-select-style select:focus{
outline: none;
}
.name{
width: 47%;
height: 3rem;
/* margin-left: 12.20rem; */
/* margin-top: -3rem; */
overflow: hidden;
background: none;
float: right;
border-radius: 25px;
box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.svg-icon15{
width: 1.2rem;
height: 1.2rem;
margin-top:0.9rem;
margin-left:14px;
}
.svg.svg-icon15 {
height: 20px;
   
}
.svg-icon15 path,
.svg-icon15 polygon,
.svg-icon15 rect {
fill: black;
}

.svg-icon15 circle {
stroke: rgb(206, 202, 202);
stroke-width: 2px;
}
.Deduc_user-field{
    border: none;
  outline:none;
  margin-top: -2.22rem;
  margin-left: 2rem ;
  background: none;
  font-size: 14px;
  overflow: hidden;
  color: #555;
  padding: 14px 10px 3px 3px;
  width: 78%;
  float:right
}
.Dadec_percent{
    width: 46%;
  height: 3rem;
  overflow: hidden;
  background: none;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.Dedec_user-input2{
border: none;
margin-left: 1rem;
outline:none;
margin-top: 3px;
background: none;
font-size: 14px;
overflow: hidden;
color: #555;
padding: 12px 10px 3px 3px;
width: 82%;
/* float: right; */
}
.DED1-add-button {
outline: none;
border:none;
cursor: pointer;
width:22%;
height: 32px;
border-radius: 30px;
font-size: 15px;


font-weight: 500;
font-family: 'Lato', sans-serif;
color:#fff;
text-align: center;
background: #24cfaa;
box-shadow: 3px 3px 8px #b1b1b1,
        -3px -3px 8px #ffffff;
transition: 0.5s;
}

.DED1-add-button:hover {
  background:#2fdbb6;
}
.DED1-add-button:active {
    background:#1da88a;
}
.DED1-cancel-button {
outline: none;
border:none;
cursor: pointer;
width:22%;
height: 32px;
border-radius: 30px;
font-size: 15px;
margin-left: 2rem;
font-weight: 500;
font-family: 'Lato', sans-serif;
color:#fff;
text-align: center;
background: #8c8a8f;
box-shadow: 3px 3px 8px #b1b1b1,
            -3px -3px 8px #ffffff;
transition: 0.5s;
}
.DED1-cancel-button:hover {
background:#b5b2bb;
}

.DED1-cancel-button:active {
    background:#1da88a;
}