/*Cost of Account*/


.TSModal {
    width: 200%;
    height: auto;
    margin-left: -10rem;
    margin-top: 1rem;
    padding: 20px 20px 20px 20px;
    border-radius: 40px;
    background: #ecf0f3;
   
                font-size: 13px;
                color:black;
  }

  
 .TS1Okay-button{
    outline: none;
    border:none;
    cursor: pointer;
    width: 8%;
    height: 32px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 0.2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;  
 }
 .TS1Okay-button:hover {
    background:#2fdbb6;
  }
  .TS1Okay-button:active {
    background:#1da88a;
  }
  .TS1Add-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:5%;
    height: 32px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 0.2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  } 
   .TS1Add-button:hover {
    background:#2fdbb6;
  }
  .TS1Add-button:active {
    background:#1da88a;
  } 
  .TS1Can-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:8%;
    height: 32px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #8c8a8f;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  } 
   .TS1Can-button:hover {
    background:#b5b2bb;
  }
  .TS1Can-button:active {
    background:#1da88a;
  }
  
  
  
  
  
  
  
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
  }
  .sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }

.TS1_fields {
        width:100%;
        overflow: hidden;
      }
      
.TS1_fields input {
        border: none;
        width:100%;
        outline:none;
        background: none;
        overflow: hidden;
        font-size: 16px;
        color: #555; 
      }
input.TS1_user-input {
        border: none;
        width: 100%;
        outline:none;
        background: none;
        overflow: hidden;
        color: #555;
      }
      input.TS1_user-input1 {
        border: none;
        width: 61%;
        outline:none;
        margin-top: 1rem;
        background: none;
        overflow: hidden;
        color: #555;
      }
      
.TS1_fields input::after{
        border: none;
        overflow: hidden;
        outline:none;
        background: none;
      
       
      }
  .Table4
  {    
      font-family: Lato, sans-serif;
      width: 100%;
   
  }

      
     .Table4 td {
      /* border: 1px solid #dcdfe0; */
      padding: 2px;
      font-size: 13px;
      color: Black;
    }
      .Table4 tr:nth-child(odd){background-color :#ddd;}
      
      .Table4 tr:hover {background-color: #C8C8C8;}


      .Table4 th {
        text-align: justify;
        font-family: Lato, sans-serif;
        padding: 2px;
        border: 1px solid #dcdfe0;
        text-align: left;
        background-color: transparent;
        color: Black;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid;
      }
  

      .TS1dropdown{
        text-align: center;
        position: relative;
        width: 95%;
        height: 50px;
       
        cursor: pointer; 
        font-size: 16px;
        color: #555;       
      }

      .TS1dropdown:active{
        background:  #ecf0f3;
        
      }


      .TS1dropdown Select{
        position: absolute;
        transform: translate(-50%,-50%);
        z-index: 1;
        border: none;
        outline: none;
        background: none;
        color: #37373d;
        font-size: 16px;
        margin-top: 1.5rem;
        cursor: pointer;
        padding: 8px 16px;
       }

      .TS1dropdown select:focus{
        outline: none;
        border: none; 
      } 
      
      
      .TS1select-style select {
      
        width: 100%;
        -webkit-appearance: none;
        appearance: none;
        font-size: 14px;
        padding: 2px;
        
      }
      
      .TS1select-style:after {
      /*arrow head*/  
      position: absolute;
      content: "";
      top: 1.5rem;
      right: 0px;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-color:  black transparent transparent transparent
        }

      .TS1select-style select:focus {
      outline: none;
      }
    
    
      .svg-icon1 {
        float: right;
        width: 1.2rem;
        height: 1.2rem;
        margin-top:0.9rem;
        margin-right: 1rem;
        
      }
    
      .TS1_username {
        width: 14%;
        height: 3rem;
        overflow: hidden;
        background: none;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
      }