.TR_main_class{
width:444px;
height: auto;
padding: 0px 35px 35px 35px;
border-radius: 40px;
background: #ecf0f3;
box-shadow: 13px 13px 20px #cbced1,
            -13px -13px 20px #FFFFFF;
}
.TR_field{
width:100%;
overflow: hidden;
padding: 19px 5px 5px 5px;
background: none;
border:none;

}
.TR_srh{
width: 47%;
height: 3rem;
overflow: hidden;
background: none;
border-radius: 25px;
margin-left: 14.72rem;
box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
            
}
.TR_input_fields77{
border: none;
width: 70%;
float:left;
margin-top: 1rem;
outline:none;
background: none;
overflow: hidden;
color: #555;
padding:-12px 0px 20px 13px;
}
.TR_svg-icon13{
width: 1.2rem;
height: 1.2rem;
margin-top:0.9rem;
margin-left:0px;
}
.TR_svg.svg-icon13{
height: 20px;
float: right;

}
.TR_svg-icon13 path,
.TR_svg-icon13 polygon,
.TR_svg-icon13 rect {
fill: black;
}
.TR_svg-icon13 circle {
stroke: rgb(206, 202, 202);
stroke-width: 2px;
}
.TR_na2{
width: 47%;
height: 3rem;
overflow: hidden;
background: none;
border-radius: 25px;
box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

    
}
.TR_Aware_user-input2{
/* float: left; */
border: none;
margin-left: 1rem;
outline:none;
/* margin-top: 3px; */
background: none;
font-size: 14px;
overflow: hidden;
color: #555;
padding: 14px 10px 3px 3px;
width: 82%;
/* float: right; */
}
.TR_na{
    width: 47%;
    height: 3rem;
    overflow: hidden;
    background: none;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.TR_Aware_user-input1{
border: none;
outline:none;
margin-top: -2.22rem;
margin-left: 2rem ;
background: none;
font-size: 14px;
overflow: hidden;
color: #555;
padding: 14px 10px 3px 3px;
width: 78%;
float: right;

}
.TR_svg.svg-icon12 {
height: 20px;
float: right;

}
.TR_svg-icon12 {
width: 1.2rem;
height: 1.2rem;
margin-top:0.9rem;
margin-left:14px;
}

.TR_svg-icon12 path,
.TR_svg-icon12 polygon,
.TR_svg-icon12 rect {
fill: black;
}

.TR_svg-icon12 circle {
stroke: rgb(206, 202, 202);
stroke-width: 2px;
}
.TR-add-button {
    outline: none;
      border:none;
      cursor: pointer;
      width:22%;
      height: 32px;
      border-radius: 30px;
      font-size: 15px;
     
     
      font-weight: 500;
      font-family: 'Lato', sans-serif;
      color:#fff;
      text-align: center;
      background: #24cfaa;
      box-shadow: 3px 3px 8px #b1b1b1,
                  -3px -3px 8px #ffffff;
      transition: 0.5s;
  }
   .TR-add-button:hover {
    background:#2fdbb6;
  }
  .TR-add-button:active {
    background:#1da88a;
  }
  .TR-cancel-button {
    outline: none;
    border:none;
    cursor: pointer;
    width:22%;
    height: 32px;
    border-radius: 30px;
    font-size: 15px;
    margin-left: 2rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    color:#fff;
    text-align: center;
    background: #8c8a8f;
    box-shadow: 3px 3px 8px #b1b1b1,
                -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
   .TR-cancel-button:hover {
    background:#b5b2bb;
  }
  .TR-cancel-button:active {
    background:#1da88a;
  }